# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Expo
.expo/
.expo-shared/
dist/
web-build/
.expo/web-cache/

# Metro bundler cache
.cache/
metro-cache/

# macOS junk
.DS_Store
*.DS_Store

# Logs
*.log

# Android
android/
*.keystore

# iOS
ios/
Pods/
*.xcworkspace
project.xcworkspace/
xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/

# TypeScript
*.tsbuildinfo

# SQLite (we will generate local DB files)
*.db
*.db-journal

# Environment files
.env
.env.*
